<div class="container">

  <div class="row">
    <div class="col col-12 col-md-6 col-xl-3 mt-3">
      <mat-card class="add-doc text-center">
        <mat-card-content>
          <div class="row align-items-center">
            <div class="col-5">
              <mat-icon>biotech</mat-icon>
            </div>
            <div class="col col-7">
              <h3 class="mb-1 nowrap">Appointments </h3><br>
                <span>213</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col col-12 col-md-6 col-xl-3 mt-3">
      <mat-card class="add-doc text-center">
        <mat-card-content>
          <div class="row align-items-center">
            <div class="col-5">
              <mat-icon>medical_services</mat-icon>
            </div>
            <div class="col col-7">
              <h3 class="mb-1 nowrap">New patients</h3><br>
                <span>104</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col col-12 col-md-6 col-xl-3 mt-3">
      <mat-card class="add-doc text-center">
        <mat-card-content>
          <div class="row align-items-center">
            <div class="col-5">
              <mat-icon>vaccines</mat-icon>
            </div>
            <div class="col col-7">
              <h3 class="mb-1 nowrap"> Operations</h3><br>
                <span>20</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col col-12 col-md-6 col-xl-3 mt-3">
      <mat-card class="add-doc text-center">
        <mat-card-content>
          <div class="row align-items-center">
            <div class="col-5">
              <mat-icon>payments</mat-icon>
            </div>
            <div class="col col-7">
                <h3 class="mb-1 nowrap"> Earnings</h3><br>
                <span>$2213</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <h2 class="mt-4" style="font-weight: 700;">Last Appointmets</h2>


  </div>
</div>
