<div class="container">
  <section class="section profile">
     <div class="row">
        <div class="col-xl-4 mb-3">
          <mat-card>
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                 <img src="" alt="Profile" class="rounded-circle">
                 <h2>Kornel</h2>
                 <h3>Web Designer</h3>
                 <div class="social-links mt-2"> <a href="#" class="twitter"><i class="bi bi-twitter"></i></a> <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> <a href="#" class="instagram"><i class="bi bi-instagram"></i></a> <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a></div>
              </div>
          </mat-card>
        </div>
        <div class="col-xl-8 mb-3">
           <mat-card>
              <div class="card-body pt-3">
                 <ul class="nav nav-tabs nav-tabs-bordered">
                    <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button></li>
                    <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button></li>
                    <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button></li>
                 </ul>
                 <div class="tab-content pt-2">
                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                       <h5 class="card-title">About</h5>
                       <p class="small fst-italic"></p>
                       <h5 class="card-title">Profile Details</h5>
                       <div class="row">
                          <div class="col-lg-3 col-md-4 label "></div>
                          <div class="col-lg-9 col-md-8"></div>
                       </div>
                       <div class="row">
                          <div class="col-lg-3 col-md-4 label"></div>
                          <div class="col-lg-9 col-md-8"></div>
                       </div>
                       <div class="row">
                          <div class="col-lg-3 col-md-4 label"></div>
                          <div class="col-lg-9 col-md-8"></div>
                       </div>
                       <div class="row">
                          <div class="col-lg-3 col-md-4 label">Email</div>
                          <div class="col-lg-9 col-md-8"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e982c788878d8c9b9a8687a98c91888499858cc78a8684">[email&#160;protected]</a></div>
                       </div>
                    </div>
                    <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                       <form [formGroup]="form">
                          <div class="row mb-3">
                             <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                             <div class="col-md-8 col-lg-9">
                                <img src="" alt="Profile">
                                <div class="pt-2"> <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a> <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a></div>
                             </div>
                          </div>
                          <div class="row mb-3">
                            <mat-form-field>
                             <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                             <div class="col-md-8 col-lg-9"> <input matInput name="fullName" formControlName="fullName" type="text" id="fullName"></div>
                             <mat-error *ngIf="form.get('fullName')?.invalid || form.get('fullName')?.dirty || form.get('fullName')?.touched">Enter full name</mat-error>
                            </mat-form-field>
                            </div>
                          <div class="row mb-3">
                              <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                              <div class="col-md-8 col-lg-9">
                                <ckeditor
                                  name="about"
                                  formControlName="about"
                                ></ckeditor>
                              </div>
                            </div>
                          <div class="row mb-3">
                            <mat-form-field>
                             <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                             <div class="col-md-8 col-lg-9"> <input matInput name="address" formControlName="address" type="text" id="Address"></div>
                            </mat-form-field>
                            </div>
                          <div class="row mb-3">
                            <mat-form-field>
                             <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                             <div class="col-md-8 col-lg-9"> <input matInput name="phone" formControlName="phone" type="text" id="Phone"></div>
                            </mat-form-field>
                            </div>
                          <div class="row mb-3">
                            <mat-form-field>
                             <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                             <div class="col-md-8 col-lg-9"> <input matInput name="email" formControlName="email" type="email" id="Email"></div>
                            </mat-form-field>
                            </div>
                          <div class="text-center"> <button type="submit" mat-raised-button [disabled]="form.invalid">Save Changes</button></div>
                       </form>
                    </div>
                    <div class="tab-pane fade pt-3" id="profile-change-password">
                       <!-- <form [formGroup]="form">
                          <div class="row mb-3">
                            <mat-form-field>
                             <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                             <div class="col-md-8 col-lg-9"> <input matInput mat-raised-button [disabled]="form.invalid" formControlName="password" name="password" type="password"  id="currentPassword"></div>
                            </mat-form-field>
                            </div>
                          <div class="row mb-3">
                            <mat-form-field>
                             <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                             <div class="col-md-8 col-lg-9"> <input matInput name="newpassword" formControlName="password" type="password" id="newPassword"></div>
                            </mat-form-field>
                            </div>
                          <div class="row mb-3">
                            <mat-form-field>
                             <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                             <div class="col-md-8 col-lg-9"> <input matInput name="renewpassword" formControlName="renewPassword" type="password" id="renewPassword"></div>
                            </mat-form-field>
                            </div>
                          <div class="text-center"> <button type="submit" mat-raised-button>Change Password</button></div>
                       </form> -->
                    </div>
                 </div>
              </div>
           </mat-card>
        </div>
     </div>
  </section>
</div>
