<h2 mat-dialog-tile> {{ title }} </h2>
<mat-divider></mat-divider>

<mat-dialog-content [formGroup] ="form">

    <mat-grid-list cols="2">

      <mat-grid-tile>
        <div>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput
                    placeholder="Ex. code logic"
                    formControlName="description"
                    required>
            <mat-error *ngIf="form.get('description')?.invalid || form.get('description')?.touched">Enter description</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput
                    placeholder="123"
                    formControlName="price"
                    required>
            <mat-error *ngIf="form.get('price')?.invalid || form.get('price')?.dirty || form.get('price')?.touched">Enter a price</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Quantity</mat-label>
            <input matInput
                    placeholder="Quantity"
                    formControlName="quantity"
                    required>
            <mat-error *ngIf="form.get('quantity')?.invalid || form.get('quantity')?.dirty || form.get('quantity')?.touched">Enter valid quantity </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Total</mat-label>
            <input matInput
                    placeholder="155455"
                    formControlName="total"
                    required>
            <mat-error *ngIf="form.get('total')?.invalid || form.get('total')?.dirty || form.get('total')?.touched">Enter total </mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close (click)="cancelInvoice()">Cancel</button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="registerInvoice()" [disabled]="form.invalid"> {{buttonName}} </button>
</div>
